@model Datalayer.Product

@{
    ViewBag.Title = "Delete";
}

<h4>حذف</h4>

<p>آیا از حذف این آیتم مطمئن هستید؟</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductImageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCreateDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>
